---
layout: ""
page_title: "Provider: Segment"
description: |-
  The Segment provider provides resources to interact with Segment Config API.
---

# Segment Provider

The Segment provider provides resources to interact with a Segment Config API.

It is recommended to use an authentication token with access to only the resources which are managed
via the provider.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
